
<mat-card class="example-card center">
  <mat-card-header>
    <div mat-card-avatar>
     <i class="material-icons mat-icon">add_circle_outline</i>
    </div>
    <mat-card-title>Project Registration System</mat-card-title>
    <mat-card-subtitle>CPE Project</mat-card-subtitle>
  </mat-card-header>

  <mat-card class="example-card center">
    <mat-card-subtitle>Student</mat-card-subtitle>
    <mat-card-actions>
          <button mat-button (click)="pushPageStudent()">Click</button>
    </mat-card-actions> 
  </mat-card>


  <mat-card class="example-card center">
      <mat-card-subtitle>Admin & Teacher</mat-card-subtitle>
          <mat-card-actions>
          <button mat-button (click)="pushPageAdmin()"(click)="pushPageAdmin()">Click</button>
      </mat-card-actions>
  </mat-card>
</mat-card>
<router-outlet></router-outlet>