<div fxLayout="row" fxLayoutAlign="center center" style="height: 100%">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar>
        <i class="material-icons mat-icon-40px">face</i>
      </div>
      <mat-card-title>Administrator & Teacher</mat-card-title>
      <mat-card-subtitle>เข้าสู่ระบบ</mat-card-subtitle>
    </mat-card-header>
  
    <form [formGroup]="SignIn" style="text-align: center;margin: auto;">
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput placeholder="กรุณาใส่ข้อมูลให้ครบถูกต้อง" name="user" formControlName="user" required
          [(ngModel)]="admin.user" [readonly]='check_data || check_TchLogin' />
        <mat-icon *ngIf='check_data || check_TchLogin' matSuffix>check</mat-icon>
      </mat-form-field>
      <p></p>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input type="password" matInput placeholder="กรุณาใส่ข้อมูลให้ถูกต้อง" formControlName="password" required
          [(ngModel)]="admin.password" [readonly]='check_data || check_TchLogin' />
        <mat-icon *ngIf='check_data || check_TchLogin' matSuffix>check</mat-icon>
      </mat-form-field>
  
  
      <div class="alert-danger" *ngIf='show_alert && show_alert2'>Username or password is incorrect !</div>
      <div class="alert-success" *ngIf='check_data || check_TchLogin'>Correct !</div>
  
  
      <div align="center" style="margin-top:50px;margin: auto;">
        <button dir="rtl" *ngIf='!check_data && !check_TchLogin' mat-raised-button (click)='check_studentId();check_tchlogin()'
          color="primary">ตรวจสอบ</button>
  
          <button *ngIf='check_TchLogin' mat-raised-button (click)='nextpage2()' color="primary">ตกลง</button>
        <button *ngIf='check_data' mat-raised-button (click)='nextpage()' color="primary">ตกลง</button>
      </div>
    </form>
    <button mat-raised-button (click)='homepage()' color="primary">HOMEPAGE</button>
  </mat-card>
  </div>
  
  <!-- <button mat-raised-button (click)='show()' color="primary">เสร็จสิ้น</button> -->
  <router-outlet></router-outlet>