@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';


body {
  font-family: Arial, Helvetica, sans-serif;
}
.example-form {
  margin-top: 30px;
  min-width: 400px;
  max-width: 100%;
  width: 100%;
}
.example-full-width {
  width: 100%;
}
.form-input {
  width: 30%;
  height: 60px;
}
.center{
  width: 75%;
  margin: 30px auto;
}
.example-card {
  width: 50%;
}
.mat-icon-40px {
    font-size: 40px;
 }

.custom{
  width:30%;
}
::ng-deep .mat-horizontal-stepper-header {
  pointer-events: none !important;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;

  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}

.alert-success {
  color: #721c24;
  background-color: #99ff99;
  border-color: #80ff80;

  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}

.example-button-column button,
.example-button-column a {
  margin-bottom: 10px;
}