<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" *ngIf="shouldRun">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="example-app-name"  style="color: #ffffff;">Administrator App</h1>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">

      <mat-card align="center" style="background: #f1f1f1;">
        <p align="center">
          ปีการศึกษา
        </p>
      </mat-card>
      <mat-card>
        <mat-form-field>
          <mat-label>ปีการศึกษา</mat-label>
          <mat-select [formControl]="selectFormControl" required>
            <mat-option [value]="null">--เลือก--</mat-option>
            <div *ngFor="let i of years">
              <mat-option *ngIf="i.status" [value]="i.key">{{i.key}}</mat-option>
            </div>
          </mat-select>
          <mat-error *ngIf="selectFormControl.hasError('required')">โปรดเลือกปีการศึกษา</mat-error>
          <!-- <mat-hint>{{animalControl.value?.sound}}</mat-hint> -->
        </mat-form-field>

        <p>ปีการศึกษาที่เลือก : {{this.selectFormControl.value}}</p>
        <button mat-raised-button (click)='show()' color="primary">ตกลง</button>
      </mat-card>



      <!-- <mat-nav-list>
        <a align="center" mat-list-item routerLink="." *ngFor="let i of years">ปีการศึกษาที่ : {{i.key}}</a>
      </mat-nav-list> -->

      <mat-card style="background: #f1f1f1;">
        <p align="center">
          ตั้งค่า
        </p>
      </mat-card>

      <mat-nav-list>
        <a mat-list-item (click)="openManage()">จัดการปีการศึกษา</a>
        <a mat-list-item (click)="openManageDatabase()">จัดการฐานข้อมูล</a>
        <a mat-list-item (click)="showUploadCard()">อัพโหลดข้อมูลนักศึกษา</a>
        <a mat-list-item (click)="signOut()">ออกจากระบบ</a>
      </mat-nav-list>

    </mat-sidenav>

    <mat-sidenav-content>
      <mat-card style="  margin-top: 10px;
      margin-bottom: 10px;
      margin-right: 10px;
      margin-left: 10px;">
        <p *ngIf='!showDetail'>ไม่พบข้อมูล</p>
        <div *ngIf='!showDetail'>กรุณาเลือกปีการศึกษา</div>
        <div *ngIf='showDetail'>
          <h4>ข้อมูลปีการศึกษาที่ {{this.selectFormControl.value}}</h4>
          <div fxLayout="column" fxLayout.lt-sm="column" fxLayoutGap="10px" fxLayoutAlign="space-around left">
            <mat-card style="background: #f1f1f1;">
              <p>{{student_status}} </p>
            </mat-card>
            <mat-card style="background: #f1f1f1;">
              <p>{{teacher_status}} </p>
            </mat-card>
            <mat-card style="background: #f1f1f1;">
              <p>{{studentBooks_status}} </p>
            </mat-card>
            <mat-card style="background: #f1f1f1;">
              <p>{{teacherReg_status}} </p>
            </mat-card>
            <mat-card style="background: #f1f1f1;">
              <p>{{studentLeft_status}} </p>
            </mat-card>
            <mat-card style="background: #f1f1f1;">
              <p>{{teacherSeat_status}} </p>
            </mat-card>
            <mat-card style="background: #f1f1f1;">
              <p>{{teacherSeatCount_status}} </p>
            </mat-card>
            <p></p>
          </div>

          <button mat-raised-button *ngIf='showbutton' (click)='show2()' color="primary">จัดที่นักศึกษา</button>
          <div class="alert-success" *ngIf='!showbutton'>จัดที่นักศึกษาแล้ว</div>
          <button mat-raised-button *ngIf='!showbutton' (click)='resetData()' color="warn">รีเซท</button>
        </div>






      </mat-card>
      <mat-card *ngIf='showUpload&&selectFormControl.value!=null' style="  margin-top: 10px;
      margin-bottom: 10px;
      margin-right: 10px;
      margin-left: 10px;">
        <h4>อัพโหลดข้อมูลนักศึกษาปีการศึกษาที่ {{this.selectFormControl.value}}</h4>
        <mat-horizontal-stepper [linear]="isLinear" #stepper>
          <mat-step [editable]="isEditable">
            <form [formGroup]="form" (ngSubmit)="next_upload()" name="myForm">
              <input type="file" accept=".csv" name="csv" (change)="check_data_student($event)" />
              <!-- <button mat-raised-button color="primary" type="submit">Upload</button> -->
              <button type="submit" *ngIf='!upload_status&&errTitle'>ถัดไป</button>
              <button type="submit" *ngIf='upload_status' matStepperNext>ถัดไป</button>
            </form>
            <p></p>
            <div class="alert-success" *ngIf='upload_status'>กดปุ่ม "ถัดไป" เพื่อทำการอัพโหลด</div>
            <div class="alert-danger" *ngIf='!upload_status'>กรุณาเลือกไฟล์ .csv เท่านั้น และกดปุ่ม "ถัดไป"</div>
            <div class="alert-danger" *ngIf='!errTitle'>กรุณาตรวจสอบหัวตารางให้ถูกต้อง</div>
          </mat-step>

          <mat-step [editable]="isEditable">
            <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>

            <button matStepperNext (click)='upload()'>อัพโหลด</button>

            <div class="table-container mat-elevation-z8">
              <mat-table [dataSource]="dataSource" matSort>

                <!-- ID Column -->
                <ng-container matColumnDef="student_id">
                  <mat-header-cell *matHeaderCellDef> Student_id </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.student_id}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="name">
                  <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
                </ng-container>


                <ng-container matColumnDef="gpa">
                  <mat-header-cell *matHeaderCellDef> Gpa </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.gpa}} </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table>
            </div>
          </mat-step>

          <mat-step [editable]="isEditable">
            <div align="center" class="alert-success">อัพโหลดสำเร็จกดปุ่ม "ตกลง"</div>
            <button (click)="stepper.reset();resetStep()">ตกลง</button>
          </mat-step>
        </mat-horizontal-stepper>
        <button (click)="stepper.reset();resetStep()">ปิด</button>
      </mat-card>

      <mat-card *ngIf='showManage' style="  margin-top: 10px;
      margin-bottom: 10px;
      margin-right: 10px;
      margin-left: 10px;">
        <h4>จัดการปีการศึกษา</h4>

        <div class="table-container mat-elevation-z8">
          <mat-table mat-table [dataSource]="yearsDataList" matSort>

            <ng-container matColumnDef="year">
              <mat-header-cell *matHeaderCellDef> Year </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.$key}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="status">
              <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <i *ngIf='row.status' style="color:green;" class="material-icons">brightness_1</i>
                <i *ngIf='!row.status' style="color:red;" class="material-icons">brightness_1</i>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="edit">
              <mat-header-cell *matHeaderCellDef> Edit </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <!-- <mat-form-field>
                  <mat-label>เปิด / ปิด</mat-label>
                  <mat-select [formControl]="selectFormControl2" required>
                    <mat-option [value]="true">เปิด</mat-option>
                    <mat-option [value]="false">ปิด</mat-option>
                  </mat-select>
                </mat-form-field> -->
                <mat-slide-toggle class="example-margin"
                color="primary"
                (change)='update(row.$key,row.status)'
                [(ngModel)]="row.status"
                [checked]='row.status'>
              </mat-slide-toggle>
                <!-- <button (click)='update(row.$key,row.status)'>อัพเดท</button> -->
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns2; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns2;"></mat-row>
          </mat-table>
        </div>

        <p></p>
        <p></p>
        <p></p>
        <h4>เพิ่มปีการศึกษา</h4>
        <form [formGroup]="addNewYear" style="text-align: center;margin: auto;">
          <mat-form-field appearance="outline">
            <mat-label>ปีการศึกษา</mat-label>
            <input matInput placeholder="ปี XXXX" name="year" formControlName="year" required
              [(ngModel)]="addYear.year" />
          </mat-form-field>
          <p></p>

          <div class="alert-success" *ngIf='!showDuplicate'>ตรวจสอบความถูกต้อง และกด"เพิ่มปีการศึกษา"</div>
          <div class="alert-danger" *ngIf='checkDuplicate'>ปีการศึกษาซ้ำ</div>
          <div class="alert-danger" *ngIf='showDuplicate'>ใส่ปีการศึกษาที่ต้องการเพิ่ม</div>

          <button mat-raised-button (click)='cheackYear()' color="primary">ตรวจสอบปีการศึกษา</button>&nbsp;
          <button mat-raised-button *ngIf='!showDuplicate' (click)='insertYear()'
            color="primary">เพิ่มปีการศึกษา</button>
        </form>

        <button (click)="closeManage()">ปิด</button>
      </mat-card>

      <mat-card *ngIf='!showManageDB&&selectFormControl.value!=null' style="  margin-top: 10px;
      margin-bottom: 10px;
      margin-right: 10px;
      margin-left: 10px;">
        <h4>จัดการฐานข้อมูลปีการศึกษา {{this.selectFormControl.value}}</h4>

        <div class="table-container mat-elevation-z8">
          <mat-table mat-table [dataSource]="yearData" matSort>

            <ng-container matColumnDef="year">
              <mat-header-cell *matHeaderCellDef> Table </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.key}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="edit">
              <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <button (click)='deleteTable(row.key)'>ลบ</button>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns3; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns3;"></mat-row>
          </mat-table>
        </div>
        
        <p></p>

        <h4>จัดการฐานข้อมูลปีการศึกษา</h4>
        <div class="table-container mat-elevation-z8">
            <mat-table mat-table [dataSource]="yearsDataList" matSort>
  
              <ng-container matColumnDef="year">
                <mat-header-cell *matHeaderCellDef> Year </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.$key}} </mat-cell>
              </ng-container>
  
              <ng-container matColumnDef="edit">
                <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <button (click)='deleteDatabase(row.$key)'>ลบ</button>
                </mat-cell>
              </ng-container>
  
              <mat-header-row *matHeaderRowDef="displayedColumns3; sticky: true"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns3;"></mat-row>
            </mat-table>
          </div>
        <p></p>
        <button (click)="closeManageDatabase()">ปิด</button>
      </mat-card>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>