<div class="example-button-row" align="end">
  <button mat-icon-button mat-dialog-close>
      <mat-icon aria-label="Example icon-button with a heart icon">clear</mat-icon>
    </button>
</div>
<h2 mat-dialog-title><i class="material-icons md-36">group_add</i> Create</h2>

<mat-dialog-content class="mat-typography" [formGroup]="teacherService.teacherDataForm">

        <!-- <mat-form-field appearance="outline">
          <mat-label>กรุณาเลือกปีการศึกษา</mat-label>
          <mat-select [formControl]="yearsForm">
            <mat-option [value]="null">--เลือก--</mat-option>
            <mat-option *ngFor="let i of years" [value]="i.key">
              {{i.key}}
            </mat-option>
          </mat-select>
          <mat-icon matSuffix class="material-icons md-20"> event_note</mat-icon>
        </mat-form-field>

    <br> -->

 
    <mat-form-field appearance="outline">
      <mat-label>รหัสอาจารย์</mat-label>
      <input matInput placeholder="รหัสอาจารย์" formControlName="teacher_id">
      <mat-icon matSuffix> perm_identity</mat-icon>
      <!-- <mat-hint>รหัส</mat-hint> -->
    </mat-form-field>
    <br>

 
    <mat-form-field appearance="outline">
      <mat-label>คำนำหน้า</mat-label>
      <input matInput  placeholder="คำนำหน้า" formControlName="NameTitle">
      <mat-icon matSuffix> perm_identity</mat-icon>
      <!-- <mat-hint>คำนำหน้า</mat-hint> -->
    </mat-form-field>
    <br>

 
    <mat-form-field appearance="outline">
      <mat-label>ชื่อ</mat-label>
      <input matInput placeholder="ชื่อ" formControlName="firstName">
      <mat-icon matSuffix> perm_identity</mat-icon>
      <!-- <mat-hint>ชื่อ</mat-hint> -->
    </mat-form-field>
    <br>

    <mat-form-field appearance="outline">
      <mat-label>นามสกุล</mat-label>
      <input matInput placeholder="นามสกุล" formControlName="lastName">
      <mat-icon matSuffix> perm_identity</mat-icon>
      <!-- <mat-hint>นามสกุล</mat-hint> -->
    </mat-form-field>
 


</mat-dialog-content>



<mat-dialog-actions align="end">
  <button mat-stroked-button color="primary" [mat-dialog-close]="true" (click)="onSubmit()">
    <i class="material-icons md-16">save_alt</i> Submit</button>
  <!-- <button mat-button [mat-dialog-close]="true" (click)="updateTeacherData()">Update</button> -->
  <!-- <button (click)="updateForm()">Update</button> -->
  <!-- <button mat-button mat-dialog-close>Cancel</button> -->
</mat-dialog-actions>