<div class="example-button-row" align="end">
  <button mat-icon-button mat-dialog-close>
      <mat-icon aria-label="Example icon-button with a heart icon">clear</mat-icon>
    </button>
</div>
<h2 mat-dialog-title><i class="material-icons md-36">edit</i> Edit</h2>

<mat-dialog-content class="mat-typography" [formGroup]="teacherService.teacherDataForm">

  <!-- <mat-form-field appearance="outline">
      <mat-label>กรุณาเลือกปีการศึกษา</mat-label>
      <mat-select [formControl]="teacherService.yearsForm">
        <mat-option *ngFor="let i of years" [value]= this.teacherService.yearsForm.value>
            {{i.key}}
        </mat-option>
      </mat-select>
      <mat-icon matSuffix class="material-icons md-20"> event_note</mat-icon>
      <mat-hint>ปีการศึกษา</mat-hint>
    </mat-form-field> -->

  <p>
    <mat-form-field appearance="outline">
      <mat-label>Please enter your title</mat-label>
      <input matInput  placeholder="your title" formControlName="NameTitle">
      <mat-icon matSuffix> perm_identity</mat-icon>
      <mat-hint> Title</mat-hint>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="outline">
      <mat-label>Please enter first name</mat-label>
      <input matInput placeholder="first name" formControlName="firstName">
      <mat-icon matSuffix> perm_identity</mat-icon>
      <mat-hint> First name</mat-hint>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="outline">
      <mat-label>Please enter last name</mat-label>
      <input matInput placeholder="last name" formControlName="lastName">
      <mat-icon matSuffix> perm_identity</mat-icon>
      <mat-hint>Last namet</mat-hint>
    </mat-form-field>
  </p>
  


</mat-dialog-content>



<mat-dialog-actions align="end">
  <button mat-stroked-button color="primary" [mat-dialog-close]="true" (click)="onSubmit()">
    <i class="material-icons md-16">save_alt</i> Submit</button>
  <!-- <button mat-button [mat-dialog-close]="true" (click)="updateTeacherData()">Update</button> -->
  <!-- <button (click)="updateForm()">Update</button> -->
  <!-- <button mat-button mat-dialog-close>Cancel</button> -->
</mat-dialog-actions>