<div class="example-button-row" align="end">
    <button mat-icon-button mat-dialog-close>
        <mat-icon aria-label="Example icon-button with a heart icon">clear</mat-icon>
    </button>
</div>


<h2 mat-dialog-title><i class="material-icons md-36">how_to_reg</i> รายชื่อนักศึกษา</h2>
<mat-dialog-content class="mat-typography">
    <mat-card class="teacher-card-class center">
        <mat-card-content>
            <div align="end">
                <button mat-button (click)="downloadCsv()" color="accent">
                    <i class="material-icons md-14">cloud_download</i> Download
                </button>
            </div>

            <div class="mat-elevation-z8">

                <mat-table [dataSource]="seatNumberList">


                    <ng-container matColumnDef="stdId">
                        <mat-header-cell *matHeaderCellDef>รหัสนักศึกษา</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.std_id}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="stdName">
                        <mat-header-cell *matHeaderCellDef>ชื่อ-นามสกุล</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="gpa">
                        <mat-header-cell *matHeaderCellDef>GPA</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.gpa}}</mat-cell>
                    </ng-container>




                    <mat-header-row *matHeaderRowDef="displayedColumns2"></mat-header-row>
                    <mat-row *matRowDef="let row; columns:displayedColumns2;"></mat-row>

                </mat-table>


            </div>


        </mat-card-content>
    </mat-card>


</mat-dialog-content>
<mat-dialog-actions align="end">

    <!-- <button mat-button (click)="downloadCsv()">
    <i class="material-icons md-14">cloud_download</i> Open report
    </button> -->

</mat-dialog-actions>