

/* Rules for sizing the icon. */
.material-icons.md-14 { font-size: 14px; }
.material-icons.md-16 { font-size: 16px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-20 { font-size: 20x; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-34 { font-size: 34px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-64 { font-size: 64px; }

/* CSS for Card */
.center{
    /* width: 75%; */
    margin: 30px auto;
  }
.teacher-card-class{
    /* max-width: 800px; */
    /* align-items: center; */
  height: 100%;
  /* position: sticky; */
  top: 0;
  left: 0;
  right: 0;
    
}
.teacher-card-title{
  font-size: 18px
}

.mat-tab-group {
    margin-bottom: 48px;
  
  }

table {
    width: 100%;
  }
  .mat-header-cell:nth-child(1),.mat-cell:nth-child(1){
    flex:10%;
  }
  .mat-header-cell:nth-child(2),.mat-cell:nth-child(2){
    flex:10%;
  }
  .mat-header-cell:nth-child(3),.mat-cell:nth-child(3){
    flex:45%;
  }
  .mat-header-cell:nth-child(4),.mat-cell:nth-child(4){
    flex:10%;
  }
  .mat-header-cell:nth-child(5),.mat-cell:nth-child(5){
    flex:10%;
  }
  .mat-header-cell:nth-child(6),.mat-cell:nth-child(6){
    flex:10%;
  }
  .mat-header-cell:nth-child(7),.mat-cell:nth-child(7){
    flex:5%;
  }
  .example-container {
    width: 800;
    overflow: auto;
  }
  
.example-button-row button,
.example-button-row a {
  margin-right: 10px;
}
  



/* ////////////////////////// sidenav&toolbar ///////////////////////*/

.sidenav-container {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  }
  .sidenav {
  width: 250px;
  background: #E0E0E0
  }
  .sidenav .mat-toolbar {
  background: #546E7A;
  }

  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
    }


    .menu-spacer {
      flex: 1 1 auto;
    }
    