<div style="height: 80vh;">
  <mat-toolbar color="primary" style="background: #546E7A;">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true">
        <i class="material-icons md-36">account_circle</i>
      </button>
      <span>สำหรับอาจารย์</span>
      <span class="menu-spacer"></span>
      <div fxShow="true" fxHide.lt-md>

      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav style="background: #E0E0E0;">
      <mat-nav-list>
        <mat-card align="center" style="background: #BDBDBD;">
          <p align="center">
            เลือกปีการศึกษา
          </p>
        </mat-card>
        <mat-card>
          <mat-form-field appearance="outline">
            <mat-label>กรุณาเลือกปีการศึกษา</mat-label>
            <mat-select [formControl]="teacherService.yearsForm">
              <mat-option [value]="null">--เลือก--</mat-option>
              <div *ngFor="let i of years">
                <mat-option *ngIf="i.status" [value]="i.key">{{i.key}}</mat-option>
              </div>
            </mat-select>
            <mat-icon matSuffix class="material-icons md-20">event_note</mat-icon>
            <mat-error *ngIf="teacherService.yearsForm.hasError('required')">โปรดเลือกปีการศึกษา</mat-error>

          </mat-form-field>


          <div align="end">
            <button mat-stroked-button color="primary" (click)='shown();sidenav.toggle();'>
              <i class="material-icons md-16">search</i> ค้นหา</button>
          </div>
        </mat-card>
      </mat-nav-list>
      <mat-nav-list style="background: #BDBDBD;">
        <a mat-list-item (click)="signOut()">ออกจากระบบ</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>

      <mat-card class="teacher-card-class" *ngIf='!shownDetail'>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image">
            <i class="material-icons md-34">report_problem</i>
          </div>
          <mat-card-title class="teacher-card-title">ไม่มีข้อมูล</mat-card-title>
          <mat-card-subtitle>กรุณาเลือกปีการศึกษาก่อน</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>

        </mat-card-content>
      </mat-card>

      <mat-card *ngIf='shownDetail'>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image">
            <i class="material-icons md-34">date_range</i>
          </div>
          <mat-card-title class="teacher-card-title">ปีการศึกษา {{this.teacherService.yearsForm.value}}</mat-card-title>
          <mat-card-subtitle>ข้อมูลในปีการศึกษา {{this.teacherService.yearsForm.value}}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>

          <!-- <button mat-button (click)="downloadCSV()">test</button> -->

          <mat-tab-group mat-align-tabs="start">

            <mat-tab label="รายชื่ออาจารย์">

              <mat-card-subtitle align="end">
                <button mat-button (click)="createTeacher()" color="primary">
                  <i class="material-icons md-18">group_add</i> create
                </button>
              </mat-card-subtitle>
              <div class="mat-elevation-z8">

                <mat-table [dataSource]="teacherDataList">
                  <ng-container matColumnDef="delete">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      <button mat-icon-button (click)="deleteTeacherData(element)" color="warn">
                        <i class="material-icons md-16" aria-label="Example icon-button with a heart icon">delete</i>
                      </button>
                      <button mat-icon-button (click)="editTeacherData(element)" color="accent">
                        <i class="material-icons md-16" aria-label="Example icon-button with a heart icon">edit</i>
                      </button>
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef>รหัส</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.teacher_id}}</mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="fullName">
                    <mat-header-cell *matHeaderCellDef>ชื่ออาจารย์</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.NameTitle}} {{element.firstName}} {{element.lastName}}
                    </mat-cell>
                  </ng-container>

                  <mat-header-row *matHeaderRowDef="teacherDataColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns:teacherDataColumns;"></mat-row>

                </mat-table>

              </div>


            </mat-tab>

            <!-- //////////////////////////////////////////////////////////////////////////// -->

            <mat-tab label="ลงทะเบียน">

              <mat-card-subtitle align="end">
                <button mat-button (click)="settingTimeReg()" *ngIf=shownButton color="primary">
                  <i class="material-icons md-18">timer</i> setting
                </button>
                <!-- /////////////////////////////////Setting Time////////////////////////////// -->
                <mat-table [dataSource]="dateRegList" *ngIf=!shownButton>

                  <ng-container matColumnDef="dateReg">
                    <mat-header-cell *matHeaderCellDef>วันที่เปิดลงทะเบียน : </mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.startDate}} - {{element.endDate}}</mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="setting">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      <button mat-button (click)="editTimeReg(element)" color="primary">
                        <i class="material-icons md-18">timer</i> setting
                      </button>
                    </mat-cell>
                  </ng-container>

                  <mat-header-row *matHeaderRowDef="timeColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns:timeColumns;"></mat-row>
                </mat-table>

                <!-- /////////////////////////////////////////////////////////////////////////////// -->

                <button mat-button (click)="openDialog()" color="primary">
                  <i class="material-icons md-18">person_add</i> register
                </button>
              </mat-card-subtitle>


              <div class="mat-elevation-z8">

                <mat-table [dataSource]="teacherRegList">
                  <ng-container matColumnDef="delete">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      <button mat-icon-button (click)="deleteTeacherReg(this.teacherService.yearsForm.value,element)" color="warn">
                        <i class="material-icons md-16" aria-label="Example icon-button with a heart icon">delete</i>
                      </button>
                    </mat-cell>
                  </ng-container>


                  <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef>รหัส</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.key}}</mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="fullName">
                    <mat-header-cell *matHeaderCellDef>ชื่ออาจารย์</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.fullName}}</mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="seat">
                    <mat-header-cell *matHeaderCellDef>ที่นั่ง</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.seat}}</mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="registed">
                    <mat-header-cell *matHeaderCellDef>ลงทะเบียน</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.seat - element.count}}</mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="surplus">
                    <mat-header-cell *matHeaderCellDef>คงเหลือ</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.count}}</mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="report">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let element">

                      <button mat-icon-button (click)="openDialogTable(element)" color="accent">
                        <i class="material-icons md-16" aria-label="Example icon-button with a heart icon">dehaze</i>
                      </button>
                    </mat-cell>
                  </ng-container>


                  <mat-header-row *matHeaderRowDef="teacherRegColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns:teacherRegColumns;"></mat-row>

                </mat-table>

              </div>

            </mat-tab>

          </mat-tab-group>

        </mat-card-content>
      </mat-card>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>