<div class="example-button-row" align="end">
  <button mat-icon-button mat-dialog-close>
    <mat-icon aria-label="Example icon-button with a heart icon">clear</mat-icon>
  </button>
</div>
<h2 mat-dialog-title><i class="material-icons md-36">person_add</i> Register</h2>
<mat-dialog-content class="mat-typography">
  <mat-vertical-stepper [linear]="!check_id" #stepper>
    <mat-step [stepControl]="teacherService.firstFormGroup" [editable]="isEditable">
      <form [formGroup]="teacherService.firstFormGroup">
        <ng-template matStepLabel>เลือกรหัสประจำตัว</ng-template>

        <mat-form-field color="primary" appearance="outline" style="margin-top: 20px">
            <mat-label>กรุณาเลือกรหัส</mat-label>
          <mat-select formControlName="teacher_id" [(ngModel)]="teacherReg.teacher_id" name="teacher_id" required >
            <mat-option [value]="null">--เลือก--</mat-option>
            <div *ngFor="let i of teacherDataList">
              <mat-option  [value]="i.key">{{i.key}}</mat-option>
            </div>
          </mat-select>
          <mat-icon matSuffix class="material-icons md-20">person</mat-icon>
        </mat-form-field>
      </form>
      <div class="example-button-row" align="end">
        <button mat-stroked-button color="accent" matStepperNext (click)="check_tchId()">
          <i class="material-icons md-16">skip_next</i> ถัดไป</button>
      </div>

    </mat-step>

    <mat-step [stepControl]="teacherService.secondFormGroup">
      <form [formGroup]="teacherService.secondFormGroup">
        <ng-template matStepLabel>ตั้งค่าที่นั่ง</ng-template>

        <p>
          <mat-form-field appearance="outline">
            <mat-label>Please enter number of seat</mat-label>
            <input matInput type="number" placeholder="Number of seat" formControlName="seat"
              [(ngModel)]="teacherReg.seat" name="seat">
            <mat-icon matSuffix> perm_identity</mat-icon>
            <mat-hint> Number of student</mat-hint>
          </mat-form-field>
        </p>
        <!-- <p>
              <mat-form-field appearance="outline">
                <mat-label>Start register</mat-label>
                <input matInput type="datetime-local" placeholder="Start register" formControlName="startDate"
                [(ngModel)]="teacherReg.startDate" name="startDate">
                <mat-icon matSuffix> query_builder</mat-icon>  
              </mat-form-field>  
              <mat-form-field appearance="outline">
                  <mat-label>End register</mat-label>
                  <input matInput type="datetime-local" placeholder="End register" formControlName="endDate"
                  [(ngModel)]="teacherReg.endDate" name="endDate">
                  <mat-icon matSuffix> watch_later</mat-icon>  
              </mat-form-field>   
          </p> -->


        <div class="example-button-row" align="end">
          <!-- <button mat-button matStepperPrevious>Back</button> -->
          <button mat-stroked-button color="primary" matStepperNext>
            <i class="material-icons md-16">arrow_forward</i> ถัดไป</button>
        </div>
      </form>
    </mat-step>

    <mat-step [editable]="isEditable">
      <ng-template matStepLabel>ตรวจสอบ</ng-template>
      <mat-list>
        <mat-list-item>ชื่อ: {{teacherReg.fullName}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>จำนวนนักศึกษาที่รับ: {{teacherReg.seat}} </mat-list-item>
        <mat-divider></mat-divider>
        <!-- <mat-list-item>วันเปิดลงทะเบียน: {{dateReg.startDate}} - {{dateReg.endDate}}</mat-list-item> -->
      </mat-list><br>
      <div class="example-button-row" align="end">
        <!-- <button mat-button matStepperPrevious>Back</button> -->
        <!-- <button mat-button (click)="stepper.reset()">Reset</button> -->
        <button mat-stroked-button color="primary" [mat-dialog-close]="true" (click)="onSubmit()">
          <i class="material-icons md-16">save_alt</i> Save</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>

</mat-dialog-content>




<mat-dialog-actions align="end">
  <!-- <button mat-button [mat-dialog-close]="true" (click)="onSubmit()">Submit</button> -->
  <!-- <button mat-button mat-dialog-close>Cancel</button> -->
</mat-dialog-actions>