<div class="example-button-row" align="end">
  <button mat-icon-button mat-dialog-close>
    <mat-icon aria-label="Example icon-button with a heart icon">clear</mat-icon>
  </button>
</div>
<h2 mat-dialog-title><i class="material-icons md-36">add_alarm</i> Time Setting</h2>
<mat-dialog-content class="mat-typography"  >

<form [formGroup]="teacherService.timeFormGroup">

  
      <!-- <mat-form-field appearance="outline">
              <mat-label>กรุณาเลือกปีการศึกษา</mat-label>
              <mat-select [formControl]="teacherService.yearsForm">
                <mat-option [value]="null">--เลือก--</mat-option>
                <mat-option *ngFor="let i of years" [value]="teacherService.yearsForm">
                  {{i.key}}
                </mat-option>
              </mat-select>
              <mat-icon matSuffix class="material-icons md-20"> event_note</mat-icon>
              <mat-hint>ปีการศึกษา</mat-hint>
            </mat-form-field> <br> -->
 
      <mat-form-field appearance="outline">
          <mat-label>Start date</mat-label>
          <input matInput type="datetime-local" placeholder="Start date" formControlName="startDate"
          [(ngModel)]="dateReg.startDate" name="startDate">
          <mat-icon matSuffix> query_builder</mat-icon>  
      </mat-form-field> 
  <br>
      <mat-form-field appearance="outline">
          <mat-label>End date</mat-label>
          <input matInput type="datetime-local" placeholder="End date" formControlName="endDate"
          [(ngModel)]="dateReg.endDate" name="endDate">
          <mat-icon matSuffix> watch_later</mat-icon>  
      </mat-form-field>   
 
</form>          
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-stroked-button color="primary" [mat-dialog-close]="true" (click)="onSubmit()">
      <i class="material-icons md-16">save_alt</i> Submit</button>
</mat-dialog-actions>



